venv-minimal/
venv-win/
venv-minimal.bak/
venv-*/
storage/
hr_documents.db
hr_documents.db-shm
hr_documents.db-wal
.DS_Store
.env
__pycache__/
*.pyc
node_modules/
dist/
electron/dist-bundle/
frontend/dist/
*.egg-info/
*.zip
*.dmg
*.exe
*.blockmap
*.7z
*.pkg
electron/out/
electron/dist-bundle/
.DS_Store
.vercel
